
@mixin sizedBox ($width: 10px, $height: $width) {
  width: $width;
  height: $height;
}

@mixin contentLimit ($maximum: 1366px) {
  --yPadding: 0;
  --xPadding: 12px;

  padding: var(--yPadding) 0;
  margin: 0 auto;
  max-width: $maximum;

  @media (max-width: calc(#{$maximum} + (12px * 2) - 1px)) {
    padding: var(--yPadding) var(--xPadding);

    @content;
  }
}
