
:root {
  // sizes
  --header-height: 80px;
  --limit-content: 1920px;
  --mobile-aside-height: 60px;
  --desktop-aside-width: 96px;

  // colors
  --purple1: #9206E9;
  --purple2: #B600EE;

  --gray1: #F7F7F7;
  --gray2: #BBC4CE;
  --gray3: #75818C;
  --gray4: #b7b7b7;
  --gray5: #424E59;

  --red1: #F93232;

  --white: #fff;

  --black1: #20272C;
}
